#listado{
    text-align: center;
    align-content: center;
}
#lista{
    color: slategray;
    background-color: whitesmoke;
    text-align: center;
    align-content: center;
    width: 650px;
    padding: 1px;
    margin-top: 10px;
    
}
